/* =Gallery styles.
-------------------------------------------------------------- */

.odin-gallery-images .image,
.odin-gallery-images .add,
.odin-gallery-images .wc-metabox-sortable-placeholder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none repeat scroll 0 0 #f7f7f7;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: move;
	float: left;
	height: 150px;
	margin: 9px 9px 0 0;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.odin-gallery-images img {
	height: 150px;
	width: 150px;
}

.odin-gallery-images .wc-metabox-sortable-placeholder {
	border: 4px dashed #ddd;
}

.odin-form-table .description {
	display: block;
}

/* =Image upload
-------------------------------------------------------------- */

.odin-upload-image {
	position: relative;
	width: 150px;
}

.odin-upload-image .preview {
	display: block;
	float: none;
	margin-bottom: 5px;
}

.odin-upload-image .default-image {
	display: none;
}

/* =Image and Plupload common
-------------------------------------------------------------- */

.odin-gallery-images .image .actions,
.odin-upload-image .actions {
	display: none;
	padding: 2px;
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
}

.odin-gallery-images .image:hover > .actions,
.odin-upload-image:hover > .actions {
	display: block;
}

.odin-gallery-images .image .actions li,
.odin-upload-image .actions li {
	background: #eee;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: right;
	margin: 0 0 0 2px;
	padding: 1px;
	text-align: center;
}

.odin-gallery-images .image .actions li:hover,
.odin-upload-image .actions li:hover {
	background: #ddd;
}

.odin-gallery-images .image .actions li a,
.odin-upload-image .actions li a {
	text-decoration: none;
}

.odin-gallery-images .image .actions li a:hover,
.odin-upload-image .actions li a:hover {
	text-decoration: none;
}

.odin-gallery-images .image .actions .delete,
.odin-upload-image .actions .delete {
	color: #d00;
}

/* =Separator
-------------------------------------------------------------- */

.odin-metabox-separator {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #dfdfdf;
	display: block;
}

/* MEGA-MENU OPTIONS */

[class*='menu-item-depth'] [class*='field-mm'] {
	display: none;
}


.menu-item-depth-0 .field-mm-megamenu {
	display: block;
}

.menu-item-depth-1 [class*='field-mm'] {
	display: block;
}
.menu-item-depth-1 .field-mm-megamenu {
	display: none;
}
