@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"


$slick-arrow-color: $white !default;
$slick-dot-color: $black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

$arrow-off-space: 15px !default;


/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
    }
}



/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 48px;
    width: 48px;
    // line-height: 0px;
    font-size: 3rem;
    cursor: pointer;
    background: transparent;
    color: $white;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: rgba($white, 0.3);
        // color: transparent;
        // &:before {
        //     opacity: $slick-opacity-on-hover;
        // }
    }
    // &.slick-disabled:before {
    //     opacity: $slick-opacity-not-active;
    // }
    // &:before {
    //     font-family: $slick-font-family;
    //     font-size: 20px;
    //     line-height: 1;
    //     color: $slick-arrow-color;
    //     opacity: $slick-opacity-default;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
    // }

}

.slick-arrow {
    justify-content: center;
    > .icon {
        top: 0;
    }
}

.slick-prev {
    left: $arrow-off-space;
    [dir="rtl"] & {
        left: auto;
        right: $arrow-off-space;
    }
    // &:before {
    //     content: $slick-prev-character;
    //     [dir="rtl"] & {
    //         content: $slick-next-character;
    //     }
    // }
}

.slick-next {
    right: $arrow-off-space;
    [dir="rtl"] & {
        left: $arrow-off-space;
        right: auto;
    }
    // &:before {
    //     content: $slick-next-character;
    //     [dir="rtl"] & {
    //         content: $slick-prev-character;
    //     }
    // }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                // font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

// HOME SLIDE
.home-slideshow {
    overflow: hidden;
    margin-top: -60px;
    min-height: 800px;
    &,
    .slick-list,
    .slick-track,
    .slick-slide {
        height: 100%;
    }

    .slick-slide:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cg fill='%23000000' fill-opacity='0.125'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E") repeat;
    }
}
