.wp-block-audio figcaption {
	color: $gray-600;
	font-size: $font-size-sm;
	margin-bottom: 1em;
	margin-top: 0.5em;
	text-align: center;
}
.wp-block-audio audio {
	min-width: 300px;
	width: 100%;
}
.editor-block-list__layout .reusable-block-edit-panel {
	align-items: center;
	background: $gray-100;
	color: $gray-600;
	display: flex;
	flex-wrap: wrap;
	font-family: $font-family-serif;
	font-size: $font-size-sm;
	margin: 0 -14px;
	padding: 8px 14px;
	position: relative;
	top: -14px;
	z-index: 7;
}
.editor-block-list__layout
	.editor-block-list__layout
	.reusable-block-edit-panel {
	margin: 0 -14px;
	padding: 8px 14px;
}
.editor-block-list__layout
	.reusable-block-edit-panel
	.reusable-block-edit-panel__spinner {
	margin: 0 5px;
}
.editor-block-list__layout
	.reusable-block-edit-panel
	.reusable-block-edit-panel__info {
	margin-right: auto;
}
.editor-block-list__layout
	.reusable-block-edit-panel
	.reusable-block-edit-panel__label {
	font-weight: 600;
	margin-right: 8px;
	white-space: nowrap;
}
.editor-block-list__layout
	.reusable-block-edit-panel
	.reusable-block-edit-panel__title {
	flex: 1 1 100%;
	font-size: $font-size-sm;
	height: 30px;
	margin: 4px 0 8px;
}
.editor-block-list__layout
	.reusable-block-edit-panel
	.components-button.reusable-block-edit-panel__button {
	flex-shrink: 0;
}
@include media-breakpoint-up(lg) {
	.editor-block-list__layout .reusable-block-edit-panel {
		flex-wrap: nowrap;
	}
	.editor-block-list__layout
		.reusable-block-edit-panel
		.reusable-block-edit-panel__title {
		margin: 0;
	}
	.editor-block-list__layout
		.reusable-block-edit-panel
		.components-button.reusable-block-edit-panel__button {
		margin: 0 0 0 5px;
	}
}
.editor-block-list__layout .reusable-block-indicator {
	background: $white;
	border-bottom: 1px dashed $gray-200;
	border-left: 1px dashed $gray-200;
	color: $gray-600;
	height: 30px;
	padding: 4px;
	position: absolute;
	right: -14px;
	top: -14px;
	width: 30px;
	z-index: 1;
}
.wp-block-button {
	color: $white;
	margin-bottom: 1.5em;
}
.wp-block-button.aligncenter {
	text-align: center;
}
.wp-block-button.alignright {
	text-align: right;
}
.wp-block-button__link {
	background-color: $gray-800;
	@extend .btn; // BS4 class
}
.wp-block-button__link {
	border-radius: 0.25rem;
	&,
	&:active,
	&:focus,
	&:hover {
		color: inherit;
	}
}

.components-button {
	display: inline-flex !important;
	padding: 0 8px !important;
	overflow: hidden !important;
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}
.is-style-outline {
	color: $gray-800;
}
.is-style-outline .wp-block-button__link {
	background: transparent;
	border: 2px solid currentcolor;
}
.wp-block-categories.alignleft {
	margin-right: 2em;
}
.wp-block-categories.alignright {
	margin-left: 2em;
}

/**
   * cover Block
   */
.wp-block-cover,
.wp-block-cover-image {
	align-items: center;
	background-color: $black;
	background-position: 50%;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin: 0 0 1.5em;
	min-height: 430px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.wp-block-cover-image.has-left-content,
.wp-block-cover.has-left-content {
	justify-content: flex-start;
}
.wp-block-cover-image.has-left-content .wp-block-cover-image-text,
.wp-block-cover-image.has-left-content .wp-block-cover-text,
.wp-block-cover-image.has-left-content h2,
.wp-block-cover.has-left-content .wp-block-cover-image-text,
.wp-block-cover.has-left-content .wp-block-cover-text,
.wp-block-cover.has-left-content h2 {
	margin-left: 0;
	text-align: left;
}
.wp-block-cover-image.has-right-content,
.wp-block-cover.has-right-content {
	justify-content: flex-end;
}
.wp-block-cover-image.has-right-content .wp-block-cover-image-text,
.wp-block-cover-image.has-right-content .wp-block-cover-text,
.wp-block-cover-image.has-right-content h2,
.wp-block-cover.has-right-content .wp-block-cover-image-text,
.wp-block-cover.has-right-content .wp-block-cover-text,
.wp-block-cover.has-right-content h2 {
	margin-right: 0;
	text-align: right;
}
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
	color: $white;
	font-size: 2em;
	line-height: 1.25;
	margin-bottom: 0;
	max-width: 610px;
	padding: $spacer;
	text-align: center;
	z-index: 1;
}
.wp-block-cover-image .wp-block-cover-image-text a,
.wp-block-cover-image .wp-block-cover-image-text a:active,
.wp-block-cover-image .wp-block-cover-image-text a:focus,
.wp-block-cover-image .wp-block-cover-image-text a:hover,
.wp-block-cover-image .wp-block-cover-text a,
.wp-block-cover-image .wp-block-cover-text a:active,
.wp-block-cover-image .wp-block-cover-text a:focus,
.wp-block-cover-image .wp-block-cover-text a:hover,
.wp-block-cover-image h2 a,
.wp-block-cover-image h2 a:active,
.wp-block-cover-image h2 a:focus,
.wp-block-cover-image h2 a:hover,
.wp-block-cover .wp-block-cover-image-text a,
.wp-block-cover .wp-block-cover-image-text a:active,
.wp-block-cover .wp-block-cover-image-text a:focus,
.wp-block-cover .wp-block-cover-image-text a:hover,
.wp-block-cover .wp-block-cover-text a,
.wp-block-cover .wp-block-cover-text a:active,
.wp-block-cover .wp-block-cover-text a:focus,
.wp-block-cover .wp-block-cover-text a:hover,
.wp-block-cover h2 a,
.wp-block-cover h2 a:active,
.wp-block-cover h2 a:focus,
.wp-block-cover h2 a:hover {
	color: $white;
}
.wp-block-cover-image.has-parallax,
.wp-block-cover.has-parallax {
	background-attachment: fixed;
}
@supports (-webkit-overflow-scrolling: touch) {
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}
}
.wp-block-cover-image.has-background-dim:before,
.wp-block-cover.has-background-dim:before {
	background-color: inherit;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.wp-block-cover-image.has-background-dim.has-background-dim-10:before,
.wp-block-cover.has-background-dim.has-background-dim-10:before {
	opacity: 0.1;
}
.wp-block-cover-image.has-background-dim.has-background-dim-20:before,
.wp-block-cover.has-background-dim.has-background-dim-20:before {
	opacity: 0.2;
}
.wp-block-cover-image.has-background-dim.has-background-dim-30:before,
.wp-block-cover.has-background-dim.has-background-dim-30:before {
	opacity: 0.3;
}
.wp-block-cover-image.has-background-dim.has-background-dim-40:before,
.wp-block-cover.has-background-dim.has-background-dim-40:before {
	opacity: 0.4;
}
.wp-block-cover-image.has-background-dim.has-background-dim-50:before,
.wp-block-cover.has-background-dim.has-background-dim-50:before {
	opacity: 0.5;
}
.wp-block-cover-image.has-background-dim.has-background-dim-60:before,
.wp-block-cover.has-background-dim.has-background-dim-60:before {
	opacity: 0.6;
}
.wp-block-cover-image.has-background-dim.has-background-dim-70:before,
.wp-block-cover.has-background-dim.has-background-dim-70:before {
	opacity: 0.7;
}
.wp-block-cover-image.has-background-dim.has-background-dim-80:before,
.wp-block-cover.has-background-dim.has-background-dim-80:before {
	opacity: 0.8;
}
.wp-block-cover-image.has-background-dim.has-background-dim-90:before,
.wp-block-cover.has-background-dim.has-background-dim-90:before {
	opacity: 0.9;
}
.wp-block-cover-image.has-background-dim.has-background-dim-100:before,
.wp-block-cover.has-background-dim.has-background-dim-100:before {
	opacity: 1;
}
.wp-block-cover-image.components-placeholder,
.wp-block-cover.components-placeholder {
	height: inherit;
}
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright,
[data-align="left"] .wp-block-cover,
[data-align="left"] .wp-block-cover-image,
[data-align="right"] .wp-block-cover,
[data-align="right"] .wp-block-cover-image {
	max-width: 305px;
	width: 100%;
}
.wp-block-cover-image.aligncenter,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.aligncenter,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
	display: flex;
}
.wp-block-cover__video-background {
	-o-object-fit: cover;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	z-index: 0;
}
.editor-block-list__block[data-type="core/embed"][data-align="left"]
	.editor-block-list__block-edit,
.editor-block-list__block[data-type="core/embed"][data-align="right"]
	.editor-block-list__block-edit,
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
	max-width: 360px;
	width: 100%;
}
.wp-block-embed {
	margin-bottom: 1em;
}
.wp-block-embed figcaption {
	color: $gray-600;
	font-size: $font-size-sm;
	margin-bottom: 1em;
	margin-top: 0.5em;
	text-align: center;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-1
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-2
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-9-16
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-18-9
	.wp-block-embed__wrapper,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-21-9
	.wp-block-embed__wrapper {
	position: relative;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-1
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-2
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-9-16
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-18-9
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-21-9
	.wp-block-embed__wrapper:before {
	content: "";
	display: block;
	padding-top: 50%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-1
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-2
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-9-16
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-18-9
	.wp-block-embed__wrapper
	iframe,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-21-9
	.wp-block-embed__wrapper
	iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-21-9
	.wp-block-embed__wrapper:before {
	padding-top: 42.85%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-18-9
	.wp-block-embed__wrapper:before {
	padding-top: 50%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.wp-block-embed__wrapper:before {
	padding-top: 56.25%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.wp-block-embed__wrapper:before {
	padding-top: 75%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-1
	.wp-block-embed__wrapper:before {
	padding-top: 100%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-9-6
	.wp-block-embed__wrapper:before {
	padding-top: 66.66%;
}
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-1-2
	.wp-block-embed__wrapper:before {
	padding-top: 200%;
}
.wp-block-file {
	margin-bottom: 1.5em;
}
.wp-block-file.aligncenter {
	text-align: center;
}
.wp-block-file.alignright {
	text-align: right;
}
.wp-block-file .wp-block-file__button {
	background: $gray-800;
	border-radius: 2em;
	color: $white;
	font-size: $font-size-sm;
	padding: 0.5em 1em;
}
.wp-block-file a.wp-block-file__button {
	text-decoration: none;
}
.wp-block-file a.wp-block-file__button:active,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:visited {
	box-shadow: none;
	color: $white;
	opacity: 0.85;
	text-decoration: none;
}
.wp-block-file * + .wp-block-file__button {
	margin-left: 0.75em;
}

.no-grow .blocks-gallery-image,
.no-grow.wp-block-gallery .wp-block-image,
.no-grow .blocks-gallery-item {
	flex-grow: 0 !important;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.85),
		rgba(255, 255, 255, 0.45) 70%,
		transparent
	) !important;
	color: black !important;
	line-height: 1.1;
	padding-top: 8px !important;
}

.wp-block-image {
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}
.wp-block-image img {
	max-width: 100%;
}
.wp-block-image.aligncenter {
	text-align: center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
	width: 100%;
}
.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.is-resized {
	display: table;
	margin-left: 0;
	margin-right: 0;
}
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
	caption-side: bottom;
	display: table-caption;
}
.wp-block-image .alignleft {
	float: left;
	margin-right: 1em;
}
.wp-block-image .alignright {
	float: right;
	margin-left: 1em;
}
.wp-block-image .aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.wp-block-image figcaption {
	color: $gray-600;
	font-size: $font-size-sm;
	margin-bottom: 1em;
	margin-top: 0.5em;
	text-align: center;
}
.wp-block-latest-comments__comment {
	font-size: 15px;
	line-height: 1.1;
	list-style: none;
	margin-bottom: 1em;
}
.has-avatars .wp-block-latest-comments__comment {
	list-style: none;
	min-height: 36px;
}
.has-avatars
	.wp-block-latest-comments__comment
	.wp-block-latest-comments__comment-excerpt,
.has-avatars
	.wp-block-latest-comments__comment
	.wp-block-latest-comments__comment-meta {
	margin-left: 52px;
}
.has-dates .wp-block-latest-comments__comment,
.has-excerpts .wp-block-latest-comments__comment {
	line-height: 1.5;
}
.wp-block-latest-comments__comment-excerpt p {
	font-size: $font-size-sm;
	line-height: 1.8;
	margin: 5px 0 20px;
}
.wp-block-latest-comments__comment-date {
	color: #8f98a1;
	display: block;
	font-size: 12px;
}
.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	border-radius: 24px;
	display: block;
	float: left;
	height: 40px;
	margin-right: 12px;
	width: 40px;
}
.wp-block-latest-posts.alignleft {
	margin-right: 2em;
}
.wp-block-latest-posts.alignright {
	margin-left: 2em;
}
.wp-block-latest-posts.is-grid {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
.wp-block-latest-posts.is-grid li {
	margin: 0 16px 16px 0;
	width: 100%;
}
@include media-breakpoint-up(sm) {
	.wp-block-latest-posts.columns-2 li {
		width: calc(50% - 16px);
	}
	.wp-block-latest-posts.columns-3 li {
		width: calc(33.33333% - 16px);
	}
	.wp-block-latest-posts.columns-4 li {
		width: calc(25% - 16px);
	}
	.wp-block-latest-posts.columns-5 li {
		width: calc(20% - 16px);
	}
	.wp-block-latest-posts.columns-6 li {
		width: calc(16.66667% - 16px);
	}
}
.wp-block-latest-posts__post-date {
	color: $gray-600;
	display: block;
	font-size: $font-size-sm;
}

p.is-small-text {
	font-size: $font-size-sm;
}
p.is-regular-text {
	font-size: $font-size-base;
}
p.is-large-text {
	font-size: ($font-size-base * 2.25);
}
p.is-larger-text {
	font-size: ($font-size-base * 3);
}
p.has-drop-cap:not(:focus):first-letter {
	float: left;
	font-size: $display1-size;
	font-style: normal;
	font-weight: 100;
	line-height: 0.68;
	margin: 0.05em 0.1em 0 0;
	text-transform: uppercase;
}
.entry-content {
	> p,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> pre {
		padding: ($spacer * 1) ($spacer * 2);
		margin-bottom: 0;
	}
}
p.has-background {
	padding: ($spacer * 1.25) ($spacer * 2);
}
p.has-text-color a {
	color: inherit;
}
.has-text-align-center {
	@extend .txt-c;
}
.has-text-align-left {
	@extend .txt-l;
}
.has-text-align-right {
	@extend .txt-r;
}

.wp-block-pullquote {
	margin-left: 0;
	margin-right: 0;
	padding: 3em 0;
	text-align: center;
}
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 305px;
}
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
	font-size: $font-size-lg;
}
.wp-block-pullquote p {
	font-size: 28px;
	line-height: 1.6;
}
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	position: relative;
}
.wp-block-pullquote .has-text-color a {
	color: inherit;
}
.wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}
.wp-block-pullquote.is-style-solid-color {
	border: none;
}
.wp-block-pullquote.is-style-solid-color blockquote {
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	text-align: left;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 32px;
	margin-bottom: 0;
	margin-top: 0;
}
.wp-block-pullquote.is-style-solid-color blockquote cite {
	font-style: normal;
	text-transform: none;
}
.wp-block-pullquote cite {
	color: inherit;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 0 0 16px;
	padding: 0 1em;
}
.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 24px;
	font-style: italic;
	line-height: 1.6;
}
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: 18px;
	text-align: right;
}
hr.wp-block-separator {
	border-color: $gray-200 !important;
	&.is-style-default {
		max-width: 100px;
	}
	&.is-style-wide {
		border-bottom-width: 1px;
	}
	&.is-style-dots {
		background: none;
		border: none;
		height: auto;
		line-height: 1;
		max-width: none;
		text-align: center;
	}
	&.is-style-dots:before {
		color: $gray-900;
		content: "\00b7 \00b7 \00b7";
		font-family: $font-family-serif;
		font-size: $font-size-lg;
		letter-spacing: 2em;
		padding-left: 2em;
	}
}

p.wp-block-subhead {
	font-size: 1.1em;
	font-style: italic;
	opacity: 0.75;
}
.wp-block-table.has-fixed-layout {
	table-layout: fixed;
	width: 100%;
}
.wp-block-table.aligncenter,
.wp-block-table.alignleft,
.wp-block-table.alignright {
	display: table;
	width: auto;
}
.wp-block-table.is-style-stripes {
	border-bottom: 1px solid $gray-200;
	border-collapse: inherit;
	border-spacing: 0;
}
.wp-block-table.is-style-stripes tr:nth-child(odd) {
	background-color: $gray-200;
}
.wp-block-table.is-style-stripes td {
	border-color: transparent;
}
.wp-block-text-columns,
.wp-block-text-columns.aligncenter {
	display: flex;
}

pre.wp-block-verse {
	overflow: auto;
	white-space: normal;
}
.wp-block-video {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-video video {
	max-width: 100%;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.wp-block-video [poster] {
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.wp-block-video.aligncenter {
	text-align: center;
}
.wp-block-video figcaption {
	color: $gray-600; // BS4 var
	font-size: $font-size-sm; // BS4 var
	margin-bottom: 1em;
	margin-top: 0.5em;
	text-align: center;
}
.has-small-font-size {
	font-size: $font-size-sm; // BS4 var
}
.has-normal-font-size,
.has-regular-font-size {
	font-size: $font-size-base; // BS4 var
}
.has-medium-font-size {
	font-size: $font-size-lg; // BS4 var
}
.has-large-font-size {
	font-size: ($font-size-base * 2.25); // BS4 var
}
.has-huge-font-size,
.has-larger-font-size {
	font-size: ($font-size-base * 2.625); // BS4 var
}

$gutenberg-colors: ();
$gutenberg-colors: map-merge(
	(
		"white": "white",
		"gray-200": "gray-200",
		"gray-600": "secondary",
		"gray-900": "dark",
		"black": "black",
		"navy": "navy",
		"dark-blue": "dark-blue",
		"blue": "primary",
		"indigo": "indigo",
		"purple": "purple",
		"pink": "pink",
		"red": "danger",
		"orange": "orange",
		"yellow": "warning",
		"green": "success",
		"teal": "teal",
		"cyan": "info",
	),
	$gutenberg-colors
);

@each $color, $value in $gutenberg-colors {
	.has-#{$color}-background-color {
		@extend .bg-#{$value};
	}
	.has-#{$color}-color {
		@extend .text-#{$value};
	}
}

@include media-breakpoint-up(md) {
	/**
	 * Align Wide GUTENBERG
	 */
	.alignfull {
		margin-left: calc(50% - 50vw) !important;
		margin-right: calc(50% - 50vw) !important;
	}

	.alignwide {
		margin-left: calc(25% - 25vw) !important;
		margin-right: calc(25% - 25vw) !important;
	}

	.alignwide,
	.alignfull {
		width: auto !important;
		max-width: 1000% !important;

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

/**
 * Grid Mix Block
 */
.grid-mix .gm-inner {
	min-height: 225px;
	background-color: $navy;
	justify-items: center;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	color: $white;
	position: relative;
}

.grid-mix .gm-item > .gm-inner::before {
	content: "";
	position: absolute;
	opacity: 0.6;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	transform: scale(1);
	transition: 0.8s all ease-in-out;
}
.grid-mix .gm-item:hover > .gm-inner::before {
	transform: scale(1.1);
}
.grid-mix .gm-item:hover > .gm-inner {
	text-decoration: none;
}

/**
 * Layout Supports
 */

.entry-content > [class*="wp-block-lazyblock-"],
.inner-blocks {
	> [class^="wp-block-"]:not(hr) {
		padding: $spacer;
	}
	> pre[class^="wp-block-verse"] {
		padding: $spacer ($spacer * 2);
	}
	> :not([class^="wp-block-"]):not(ul):not(ol):not(hr):not(
			[class*="has-background"]
		):not([class*="alignfull"]):not([class*="alignwide"]) {
		padding-left: ($spacer * 2);
		padding-right: ($spacer * 2);
		&:first-child {
			padding-top: ($spacer * 1.5);
		}
		&:last-child {
			padding-bottom: ($spacer * 1.5);
		}
	}
	> ul,
	> ol {
		padding-left: ($spacer * 3);
	}
}
.inner-blocks {
	> :last-child {
		margin-bottom: 0 !important;
	}
}
