/**
 * MEdia with Text
 * */
.wp-block-media-text {
	align-items: center;
	display: grid;
	grid-template-areas: "media-text-media media-text-content";
	grid-template-columns: 50% auto;
	grid-template-rows: auto;
}
.wp-block-media-text.has-media-on-the-right {
	grid-template-areas: "media-text-content media-text-media";
	grid-template-columns: auto 50%;
}
.wp-block-media-text .wp-block-media-text__media {
	grid-area: media-text-media;
	margin: 0;
}
.wp-block-media-text .wp-block-media-text__content {
	grid-area: media-text-content;
	padding: 0 $spacer;
	word-break: break-word;
}
.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
	max-width: unset;
	vertical-align: middle;
	width: 100%;
}
@include media-breakpoint-down(md) {
	.wp-block-media-text.is-stacked-on-mobile {
		grid-template-areas: "media-text-media" "media-text-content";
		grid-template-columns: 100% !important;
	}
	// .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
	// 	grid-template-areas: 'media-text-content' 'media-text-media';
	// }
}
