//
// Header branding
//
// Logo, title and description
//
.logo-flag {
	top: 0;
}
.custom-logo-link {
	img {
		// Change the height/width in inc/theme-support.php
		/* max-width: 160px!important; */
		/* min-width: 75px; */
		padding: 0.5rem;
		width: auto;
		max-width: 115px;
		height: 140px;
	}
}
// .site-title {
// 	@extend .h1;
// 	margin: 0;
// }
// .site-description {
// 	@extend .h5;
// 	margin: 0.5em 0 0;
// }
