.meganav {
	.menu-item.megamenu {
		position: static;
	}
}

.megamenu {
	> .dropdown-menu {
		padding: 1rem;
		@extend .bg-black-90;
		display: flex;
		justify-content: space-around;
	}
	// Setup Megamenu Columns
	.mega-col {
		min-width: 20%;
		max-width: 40%;
		padding: 1rem;

		> ul {
			list-style: none;
			padding: 0;
		}

		li > .nav-link {
			&,
			&:hover,
			&:focus {
				color: $primary;
			}
		}
	}

	/* Setup Children Megamenu options */

	// Has Title enable
	// .has-title {
	// }

	// Description Options
	.desc {
		> .sub {
			line-height: 1.25;
		}
	}

	// Hide Label option
	.hide-label {
		> .nav-link {
			padding: 0;
		}
	}

	.hide-label,
	.sublist {
		> .dropdown-toggle:after {
			display: none;
		}
	}

	// Level 3 - Submenu / Sulist

	.dropdown-submenu {
		&:hover,
		&:focus {
			.sub-menu {
				&,
				&:hover,
				&:focus {
					max-height: 500px;
					overflow-y: auto;
					margin-top: 1rem;
				}
			}
		}
	}
	.sub-menu {
		width: 100%;
		padding: 0;
		position: relative !important;
		max-height: 0;
		overflow: hidden;
	}

	.sublist {
		.sub-menu {
			overflow-y: auto;
			margin-top: 0 !important;
			max-height: 100%;
			opacity: 1;
			visibility: visible;
			z-index: 0;
			transform: none;
			padding-left: 1.25rem;
			font-size: 85%;

			.nav-link {
				padding: 0 0 0.25rem;
				color: $white;
			}
		}
		.menu-item:before {
			content: '>';
			transform: scaleY(1.75);
			left: 0;
			position: absolute;
			font-size: 85%;
			color: $primary;
		}
	}
}
