
.menu-top {
	.menu-item {
		order: 1;
	}
	.home-menu-item {
		order: 0;
	}
}

// ==========================================================================
//  Toggle Buttons
// ==========================================================================
.btn-toggle {
	margin: 0;
	cursor: pointer;
	line-height: 1.25rem;
	font-size: 1.4rem;
	padding: 1rem .5rem;
	align-self: center;
	&,
	* {
		transition: all 0.25s ease-in-out;
	}

	// &:hover {
	// 	.icon {
	// 		fill: $primary;
	// 	}
	// }

	&,
	&:active,
	&:focus {
		box-shadow: none;
	}
}

// ==========================================================================
// Navbar-Toggle (HAMBURGER)
// ==========================================================================
.navbar-toggle {
	z-index: 11;

	> .ico-group {
		position: relative;
		width: 1.4rem;
		height: 1.4rem;
	}

	.ham-bar {
		position: absolute;
		display: block;
		height: 0.1rem;
		width: 100%;
		background-color: $white;
		transform-origin: center;
		opacity: 1;
		&:nth-of-type(1) {
			top: 10%;
		}
		&:nth-of-type(2) {
			top: 50%;
			margin-top: -1px;
		}
		&:nth-of-type(3) {
			bottom: 10%;
		}
	}

}

#toggle-nav:checked ~ .menu-top {
	z-index: 20 !important;
	opacity: 1;
	visibility: visible;
}

#toggle-nav:checked ~ .navbar-toggle {
	.ham-bar {
		// background-color: $danger;
		top: 0.65rem;

		&:nth-of-type(1) {
			transform: rotate(-45deg);
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			transform: rotate(45deg);
		}
	}
}

////================== TOGGLES x Respectives =========================//

.over-close {
	width: 30px;
	height: 30px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 14px;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $navy;
		transform-origin: center;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.toggle-sign {
	padding: 0.55rem 0.75rem;
	font-size: 1.25rem;
}

#toggle-nav:checked:focus ~ .menu-top,
#toggle-nav:checked ~ .menu-top:hover {
	z-index: 22 !important;
}


////==============  LOGIN / REGISTER / RESETPASS ================//

#signPup ul.nav {
	.nav-link {
		cursor: pointer;
	}
}

.itab_content {
	display: none;
}

#itab_login:checked ~ {
	div > #tab_login {
		display: block;
	}
	div ._login {
		background-color: $white;
		color: $primary;
	}
}

#itab_register:checked ~ {
	div > #tab_register {
		display: block;
	}
	div ._register {
		background-color: $white;
		color: $primary;
	}
}

#itab_resetpass:checked ~ {
	div > #tab_resetpass {
		display: block;
	}
	div ._resetpass {
		background-color: $white;
		color: $primary;
	}
}
