// ============== Z-index classes
.z-3 {
	z-index: -30;
}

.z-2 {
	z-index: -20;
}

.z-1 {
	z-index: -10;
}

.z0 {
	z-index: 0;
}

.z1 {
	z-index: 10;
}

.z2 {
	z-index: 20;
}

.z3 {
	z-index: 30;
}
.z-1000 {
	z-index: $zindex-dropdown + 1;
}
// ======== EXTRA BGS
@include bg-variant('.bg-gray-200', $gray-200);
@include bg-variant('.bg-navy', $navy);
@include bg-variant('.bg-dark-blue', $dark-blue);
@include bg-variant('.bg-indigo', $indigo);
@include bg-variant('.bg-purple', $purple);
@include bg-variant('.bg-pink', $pink);
@include bg-variant('.bg-teal', $teal);
@include bg-variant('.bg-orange', $orange);
@include bg-variant('.bg-navy-75', rgba($navy, 0.75));
@include bg-variant('.bg-white-75', rgba($white, 0.75));
@include bg-variant('.bg-black-90', rgba($black, 0.9));
@include bg-variant('.bg-black-50', rgba($black, 0.5));
@include bg-variant('.bg-black', $black);

.no-bg,
.no-bg:focus {
	@extend .bg-transparent;
}

// ======== EXTRA Roundeds
.rounded-lg {
	border-radius: $border-radius * 2.5;
}

.rounded-xl {
	border-radius: $border-radius * 5;
}

.rounded-top-0 {
	@include border-top-radius(0);
}
.rounded-bottom-0 {
	@include border-bottom-radius(0);
}
.rounded-left-0 {
	@include border-left-radius(0);
}
.rounded-right-0 {
	@include border-right-radius(0);
}

// ========== SHADOWS
.shad-primary {
	box-shadow: 0 0.5rem 1.75rem rgba(darken($primary, 10%), 0.3);

	&.sh:hover {
		box-shadow: 0 0.2rem 1rem rgba(darken($primary, 10%), 0.3);
	}
}
.shadow-secondary {
	box-shadow: 0 0.5rem 1.75rem rgba($gray-600, 0.2);

	&.sh:hover {
		box-shadow: 0 0.2rem 1rem rgba($gray-600, 0.2);
	}
}
// .shad-white {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($white, 5%), 0.4);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($white, 5%), 0.5);
// 	}
// }

// .shad-yellow {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($yellow, 10%), 0.4);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($yellow, 10%), 0.5);
// 	}
// }

// .shad-warning {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($warning, 10%), 0.25);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($warning, 10%), 0.3);
// 	}
// }

// .shad-success {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($brand-success, 10%), 0.3);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($brand-success, 10%), 0.4);
// 	}
// }

// .shad-danger {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($danger, 10%), 0.25);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($danger, 10%), 0.3);
// 	}
// }

// .shad-info {
// 	box-shadow: 0 0.75rem 1.75rem rgba(darken($info, 10%), 0.3);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($info, 10%), 0.4);
// 	}
// }

// .shad-dark {
// 	box-shadow: 0 0.5rem 1.75rem rgba(darken($gray-800, 10%), 0.25);

// 	&.sh:hover {
// 		box-shadow: 0 0.2rem 1rem rgba(darken($gray-800, 10%), 0.3);
// 	}
// }

// ====== EXTRA BUTTONS

[class*='btn-outline'] {
	border-width: 2px !important;
}

// .btn-accent {
// 	@include button-variant(rgba($black, 0.5), $yellow, $yellow);
// }

// .btn-blue {
// 	@include button-variant($blue, $blue);
// }

// .btn-dark {
// 	@include button-variant($white, $black, $black);
// }

// .btn-red {
// 	@include button-variant($white, $red, $red);
// }

// .btn-outline-accent {
// 	@include button-outline-variant($yellow, rgba($black, 0.5));
// }

// .btn-outline-blue {
// 	@include button-outline-variant($blue, $white);
// }

// .btn-outline-dark {
// 	@include button-outline-variant($black, $white);
// }

// .btn-outline-red {
// 	@include button-outline-variant($red, $white);
// }

.txt-up {
	@extend .text-uppercase;
}
.txt-low {
	@extend .text-lowercase;
}
.txt-cap {
	@extend .text-capitalize;
}

.txt-bold {
	@extend .font-weight-bold;
}

.txt-light {
	@extend .font-weight-light;
}

.txt-normal {
	@extend .font-weight-normal;
}

.txt-ita {
	@extend .font-italic;
}

.txt-serif {
	font-family: $font-family-serif;
}

.txt-c {
	@extend .text-center;
}

.txt-l {
	@extend .text-left;
}

.txt-r {
	@extend .text-right;
}

// Extra text Colors
@include text-emphasis-variant(".text-gray-200", $gray-200);
@include text-emphasis-variant(".text-orange", $orange);
@include text-emphasis-variant(".text-pink", $pink);
@include text-emphasis-variant(".text-purple", $purple);
@include text-emphasis-variant(".text-indigo", $indigo);
@include text-emphasis-variant(".text-teal", $teal);
@include text-emphasis-variant(".text-navy", $navy);
@include text-emphasis-variant(".text-dark-blue", $dark-blue);
@include text-emphasis-variant(".text-black", $black);

.text-secondary {
	@extend .text-muted;
}

// Gradients

.ao-b {
	@include gradient-y(rgba($black, 0), rgba($black, 0.45), 0%, 100%);
}

// IMG

.img-responsive {
	@extend .img-fluid;
}

// MODAL FULL
.modal-full {
	padding: 0 !important;

	.modal-dialog {
		min-width: 100%;
		margin: 0;
	}
	.modal-content {
		min-height: 100vh;
		border: none;
		border-radius: 0;
	}
}

/**
 * Force columns
 */


@include media-breakpoint-up(md) {
	.col-md-7-5 {
		> :first-child {
			@extend .col-md-7;
		}
		> :last-child {
			@extend .col-md-5;
		}
	}
}
