/**
 * Custom login styles.
 */
.login h1 a {
  background: url("../img/logo-login.png") center top no-repeat !important;
  background: url("../img/logo-login.svg") center top no-repeat !important;
  background-size: 80px 80px !important;
  height: 80px !important;
  width: 80px !important;
}

/**
 * Custom admin styles.
 */
#footer-upgrade {
  visibility: hidden !important;
}

#footer-left {
  float: right !important;
}

#contextual-help-link-wrap,
#wp-version-message,
#normal-sortables #dashboard_right_now .inside .versions p {
  display: none !important;
}

.mce-window .mce-container-body.mce-abs-layout {
  overflow: hidden !important;
  overflow-y: auto !important;
}
