@include media-breakpoint-down(lg) {
	#nav-wrap {
		justify-content: space-around;
	}
}

@include media-breakpoint-up(lg) {
	// .dropdown:hover > .dropdown-menu {
	// 	visibility: visible;
	// 	opacity: 1;
	// }

	// .navbar-top {
	// 	&:before {
	// 		content: '';
	// 		position: absolute;
	// 		width: 100vw;
	// 		top: 0;
	// 		height: inherit;
	// 		background-color: inherit;
	// 	}
	// }
	.menu-top {
		.dropdown > .dropdown-menu {
			position: absolute;
		}
		flex-direction: row;
		> .menu-item > a {
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 0px;
				opacity: 0;
				left: 0;
				bottom: 0;
				position: absolute;
				background-color: $blue;
				transition: all 0.3s ease;
			}
		}

		> li > .nav-link {
			padding: 1.5rem 1.2rem;
		}
		> .lang-item > .nav-link {
			padding: 1.5rem 0.5rem;
		}
		// > .lang-item a {
		// 	padding: 1.5rem 0.25rem;
		// }
		> .menu-item.current-menu-item a,
		> .menu-item:hover a {
			&:before {
				height: 5px;
				opacity: 1;
			}
		}
	}
}
