@include media-breakpoint-down(sm) {

	// HEADING AND TEXTS ADJUST
	h1,
	.h1 {
		font-size: $h1-font-size / 1.15;
	}
	h2,
	.h2 {
		font-size: $h2-font-size / 1.15;
	}
	h3,
	.h3 {
		font-size: $h3-font-size / 1.15;
	}
	h4,
	.h4 {
		font-size: $h4-font-size / 1.15;
	}
	h5,
	.h5 {
		font-size: $h5-font-size / 1.15;
	}
	h6,
	.h6 {
		font-size: $h6-font-size / 1.15;
	}

	.lead {
		font-size: $lead-font-size / 1.25;
		font-weight: $lead-font-weight / 1.25;
	}

	.display-1 {
		font-size: $h1-font-size;
		line-height: $display-line-height / 1.15;
	}
	.display-2 {
		font-size: $h1-font-size;
		line-height: $display-line-height / 1.15;
	}
	.display-3 {
		font-size: $h1-font-size;
		line-height: $display-line-height / 1.15;
	}
	.display-4 {
		font-size: $h1-font-size;
		line-height: $display-line-height / 1.15;
	}
}

@include media-breakpoint-down(xs) {
	.custom-logo-link img {
		height: 110px;
	}

	#signPup ul.nav {
		overflow-x: scroll;
	}
}
