@include media-breakpoint-down(md) {
	#navbar-search,
	#menu-topo {
		left: 0;
	}

	.btn-toggle {
		padding: 1rem 0.6rem;
	}

	.menu-top {
		// margin-top: -$spacer * 0.25;
		width: 100%;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		z-index: -3;
		top: 100%;
		display: flex;
		background-color: rgba($navy, 0.75);
		// padding: $dropdown-padding-y 0;
		// @include border-radius($border-radius * 2.5);
		@include box-shadow($dropdown-box-shadow);

		> .menu-item {
			> .nav-link {
				padding: 1rem;
				text-align: center;
			}
		}


		.nav-link {
			// color: $dropdown-link-color;
			// @include hover-focus {
			// 	color: $dropdown-link-hover-color;
			// 	text-decoration: none;
			// 	background-color: $dropdown-link-hover-bg;
			// }
			&:hover {
				background-color: rgba($black, .5);
			}

// 			&.dropdown-toggle::after {
// 				display: none;
// 			}
		}
	}

	.megamenu {
		> .dropdown-menu {
			padding: 0;
			max-height: 0;
			overflow:hidden;
			flex-wrap: wrap;
		}

		&:hover,
		&:focus {

			> .dropdown-menu {
				&,
				&:hover {
					padding: 1rem;
					max-height: 800px;
					overflow-y: auto;
				}

			}
		}
		// Setup Megamenu Columns
		.mega-col {
			min-width: 100%;
		}
	}

	// For Recents Posts
	.recents > .new {
		margin-bottom: 2rem;
	}

	// HEADING AND TEXTS ADJUST
	h1,
	.h1 {
		font-size: $h1-font-size / 1.075;
	}
	h2,
	.h2 {
		font-size: $h2-font-size / 1.075;
	}
	h3,
	.h3 {
		font-size: $h3-font-size / 1.075;
	}
	h4,
	.h4 {
		font-size: $h4-font-size / 1.075;
	}
	h5,
	.h5 {
		font-size: $h5-font-size / 1.075;
	}
	h6,
	.h6 {
		font-size: $h6-font-size / 1.075;
	}

	.lead {
		font-size: $lead-font-size / 1.075;
		font-weight: $lead-font-weight / 1.075;
	}

	.display-1 {
		font-size: $display1-size / 1.175;
		line-height: $display-line-height / 1.175;
	}
	.display-2 {
		font-size: $display2-size / 1.175;
		line-height: $display-line-height / 1.175;
	}
	.display-3 {
		font-size: $display3-size / 1.175;
		line-height: $display-line-height / 1.175;
	}
	.display-4 {
		font-size: $display4-size / 1.15;
		line-height: $display-line-height / 1.15;
	}
}

@include media-breakpoint-up(md) {
	// For Customizer - Home Blocks
	.mw-180 {
		max-width: 180% !important;
	}

	// For Recents posts shortcode
	.recents > .old-wrap .h-wrap {
		margin-bottom: 1.5rem;
	}
}
