//
// Base
//

//
// Global
//
// *,
// *:before,
// *:after {
// 	// Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// 	box-sizing: inherit;
// }

html {
	box-sizing: border-box;
	//overflow-y: auto;

	// letter-spacing: 0.0685rem;

	// &,
	// body {
	// 	height: 100%;
	// overflow-y: visible;
	// }
	// body {
	// overflow-x: hidden;
	// }
}

// Required import "settings/mixins.scss"
@include selection() {
	color: white;
	background: $primary;
}

.navbar-dark .navbar-nav .nav-link {
	&,
	&:hover,
	&:focus {
		color: $white;
	}
}

.navbar-nav,
.btn {
	letter-spacing: 0.05rem;
}

//
// Image
//
// img {
// 	height: auto; // Make sure images are scaled correctly.
// 	max-width: 100%; // Adhere to container width.
// }

//
// Dividers home Blocks
//
[class^='div-'] {
	left: 0;
}
.div-top {
	top: -90px;
}

.div-bot {
	bottom: -90px;
}

.div-comp {
	height: 90px;
}

// RECENTS POSTS SHORTCODE

.recents {
	.excerpt {
		line-height: 0.85rem;
	}
}
.new {
	.h-wrap h3 {
		padding: 1.2rem;
		padding-left: 0;
	}
	.post-date {
		.day {
			font-size: 1.75rem;
			line-height: 1.5rem;
		}
		.month {
			line-height: 1.3rem;
		}
		.year {
			line-height: 0.85rem;
			font-size: 0.95rem;
		}
	}
}

.modal-header .close {
	padding: 1rem;
}
