// @font-face {
// 	font-family: 'Gotham Rounded';
// 	font-weight: 700;
// 	src: url('../fonts/gothamrnd-bold.eot');
// 	src: url('../fonts/gothamrnd-bold.eot') format('embedded-opentype'), local('Gotham Rounded Bold'), local('Gotham Rounded 700'), url('../fonts/gothamrnd-bold.woff') format('woff'), url('../fonts/gothamrnd-bold.ttf') format('truetype'), url('../fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
// }
// @font-face {
// 	font-family: 'Gotham Rounded';
// 	font-weight: 400;
// 	src: url('../fonts/gothamrnd-book.eot');
// 	src: url('../fonts/gothamrnd-book.eot') format('embedded-opentype'), local('Gotham Rounded Book'), local('Gotham Rounded 400'), url('../fonts/gothamrnd-book.woff') format('woff'), url('../fonts/gothamrnd-book.ttf') format('truetype'), url('../fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg');
// }

// @font-face {
// 	font-family: 'Averia Serif Libre';
// 	font-weight: 300;
// 	font-style: italic;
// 	src: url('../fonts/averia-serif-libre-italic-300.eot');
// 	src: url('../fonts/averia-serif-libre-italic-300.eot?#iefix') format('embedded-opentype'), local('Averia Serif Libre Light Italic'), local('Averia-Serif-Libre-300italic'), url('../fonts/averia-serif-libre-italic-300.woff2') format('woff2'), url('../fonts/averia-serif-libre-italic-300.woff') format('woff'), url('../fonts/averia-serif-libre-italic-300.ttf') format('truetype'), url('../fonts/averia-serif-libre-italic-300.svg#Averia-Serif-Libre') format('svg');
// }

// @font-face {
// 	font-family: 'Averia Serif Libre';
// 	font-weight: 300;
// 	src: url('../fonts/averia-serif-libre-300.eot');
// 	src: url('../fonts/averia-serif-libre-3000.eot?#iefix') format('embedded-opentype'), local('Averia Serif Libre Bold'), local('Averia-Serif-Libre-300'), url('../fonts/averia-serif-libre-300.woff2') format('woff2'), url('../fonts/averia-serif-libre-300.woff') format('woff'), url('../fonts/averia-serif-libre-300.ttf') format('truetype'), url('../fonts/averia-serif-libre-300.svg#Averia-Serif-Libre') format('svg');
// }
