//
// Footer
//
// Sticky footer styles
//

#footer {
	background-color: $gray-300;
	padding-top: 5rem;
	margin-top: -5rem;

	// a {
	// 	color: $gray-300;
	// 	@include hover-focus {
	// 		color: $white;
	// 	}
	// }

	.vcard {
		i .icon {
			@extend .text-primary;
		}
	}

	.social-links > a {
		font-size: 1.5rem;
		margin-left: 0.2rem;
		padding: 0.3rem 0.45rem;
		display: inline-block;
		border: 1px solid $gray-500;
		&:first_child {
			margin-left: 0;
		}
	}
}

.menu-foot > ul {
	@extend .list-unstyled;
}
