//
// Forms
//


input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	@extend .btn;
	// @extend .btn-$primary;
}

.form-radio-group .radio {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

select {
	max-width: 100%;
}

[lang="pt-BR"] .custom-file-label::after {
	content: "Anexar";
}
[lang="en-US"] .custom-file-label::after {
	content: "Attach";
}
.custom-file-label::after {
	color: $primary;
	font-weight: 700;
}
