//
// Helpers
//

// Positions
@mixin pos($pos...) {
	position: $pos;
}
.abs {
	@include pos(absolute);
}
.abs-t-100 {
	top: 100%;
	@extend .abs;
}
.abs-top {
	@extend .abs;
    top: 0;
    left: 0;
    right: 0;
}

.abs-b {
	bottom: 0;
	@extend .abs;
}

.fixed {
	@include pos(fixed);
}

.rel {
	@include pos(relative);
}

// Animation Supports

.ease {
	@include transition($transition-base);
}
.ease-bz {
	@include transition(all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

// Misc

.cf {
	@extend .clearfix;
}

// OVERFLOW HIDE
.over-hide {
	overflow: hidden;
}

.blur {
	filter: blur(10px);
}



$portions: (
	'100',
	'75',
	'50',
	'30'
);

@each $val in $portions {
	.vh-#{$val} {
		height: #{$val}vh;
	}
	.vh-#{$val}-min {
		min-height: #{$val}vh;
	}
}

.-mt-5 {
	margin-top: -3rem;
}
