[class^='icon'],
[class*=' icon'] {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	line-height: inherit;
	position: relative;
	top: -0.05em;
	vertical-align: middle;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
