.wpcf7-radio,
.wpcf7-checkbox {
	.wpcf7-list-item {
		label {
			align-items: center;
		}
	}
	.wpcf7-list-item-label {
		display: inline-block;
		padding: 0 .5rem;
	}
}

.wpcf7-response-output {
	@extend .alert;
	padding: 1rem !important;
	margin: 1rem auto !important;
	border: none !important;
}

span.wpcf7-not-valid-tip {
	font-size: $font-size-sm !important;
	margin-top: ($spacer / 2);
	color: $danger !important;
}
