//
// Wrapper
//

body {
	padding: 0 !important;

	> .page-header,
	#content > article > .entry-header,
	#content > .page-header {
		color: $white;
	}


	.bread-wrap {
		// background-color: lighten($primary, 5%);
		// margin-top: -2rem;

		.breadcrumb {
			// background-color: transparent;
			padding: 1rem 2rem;
			margin-bottom: 0;
			> li {
				display: inline-block;
				&.active {
					// font-weight: bold;
				}
				> a {
					&:after {
						display: inline-block;
						content: '\00BB';
						color: $dark;
						padding: 0 5px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
