@include media-breakpoint-up(md) {
	.home-section-about {
		@extend .col-md-7-5;
	}
	.home-section-where {
		figure {
			align-self: start;
		}
	}
}

// .home-section-where {
// 	figure {
// 		img {
// 			margin-top: -1rem;
// 		}
// 	}
// }

.address-pin {
	padding-left: 2rem;
	background-image: str-replace(
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -1.5 24 24' width='24' fill='#{$primary}' height='24' preserveAspectRatio='xMinYMin' class='jam jam-map-marker-f'%3E%3Cpath d='M7 20.565c-4.667-6.09-7-10.423-7-13a7 7 0 1 1 14 0c0 2.577-2.333 6.91-7 13zm0-9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z'/%3E%3C/svg%3E"),
		'#',
		'%23'
	);
	background-position: 0 0;
	background-repeat: no-repeat;
}
