//
// WordPress TinyMCE editor Style
//

// --------------------------------------------------------------
// Import Theme Style
// --------------------------------------------------------------
//
// Theme Style
//
// @import "bourbon";

// --------------------------------------------------------------
// Reset and Dependencies
// --------------------------------------------------------------
@import 'bootstrap/bootstrap';
// @import "../../node_modules/animate.css/animate.min";

// --------------------------------------------------------------
// Tools, Variables and Mixins
// --------------------------------------------------------------
@import 'settings/variables';
@import 'settings/mixins';

@import 'shared/icons';
@import 'shared/fonts';
// --------------------------------------------------------------
// CSS and Components
// --------------------------------------------------------------
@import 'shared/base';
@import 'shared/wordpress';
@import 'shared/forms';
@import 'shared/pagination';
@import 'shared/shortcodes';

// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------

// @import "shared/header-image";

@import 'shared/wrapper';
@import 'shared/content';
@import 'shared/sidebar';
@import 'shared/footer';

// --------------------------------------------------------------
// Helpers
// --------------------------------------------------------------
// @import "shared/queries";
@import 'shared/helpers';

// --------------------------------------------------------------
// Helpers
// --------------------------------------------------------------

@import 'breakpoints/tv';
@import 'breakpoints/desktop';
@import 'breakpoints/tablet';
@import 'breakpoints/phone';

// --------------------------------------------------------------
// Extra
// --------------------------------------------------------------
html {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
