//
// WordPress TinyMCE editor Style
//

// --------------------------------------------------------------
// Import Theme Style
// --------------------------------------------------------------
//
// Theme Style on Gutenberg Editor
//
// --------------------------------------------------------------
// Tools, Variables and Mixins
// --------------------------------------------------------------

/**
 * Bootstrap
 */

// Core variables and mixins
@import 'bootstrap/scss/functions';
@import './bootstrap/variables';
@import 'bootstrap/scss/variables';
@import './bootstrap/mixins';

.editor-block-list__block-edit {

	// Core CSS
	@import 'bootstrap/scss/root';
	// @import 'bootstrap/scss/reboot';
	@import 'bootstrap/scss/type';
	@import 'bootstrap/scss/images';
	// @import "bootstrap/scss/code";
	@import 'bootstrap/scss/grid';
	@import 'bootstrap/scss/tables';
	@import 'bootstrap/scss/forms';
	@import 'bootstrap/scss/buttons';

}

// Components
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/jumbotron';
@import 'bootstrap/scss/alert';
// @import "bootstrap/scss/progress";
@import 'bootstrap/scss/media';
@import 'bootstrap/scss/list-group';
// @import "bootstrap/scss/close";

// Components w/ JavaScript
// @import 'bootstrap/scss/modal';
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";

// Utility classes
@import 'bootstrap/scss/utilities';
@import './bootstrap/utilities';
@import 'bootstrap/scss/print';

/**
 * Common Stykes
 */
@import 'settings/variables';
@import 'settings/mixins';

.editor-block-list__block-edit {

	@import 'shared/icons';
	@import 'shared/fonts';
	// --------------------------------------------------------------
	// CSS and Components
	// --------------------------------------------------------------
	@import 'shared/base';
	@import 'shared/wordpress';
	@import 'shared/forms';
	@import 'shared/pagination';
	@import 'shared/shortcodes';

	// --------------------------------------------------------------
	// Layout
	// --------------------------------------------------------------

	// @import "shared/header-image";

	@import 'shared/wrapper';
	@import 'shared/content';
	// --------------------------------------------------------------
	// Helpers
	// --------------------------------------------------------------
	// @import "shared/queries";
	@import 'shared/helpers';

	.editor-block-mover__control,
	.editor-inserter__toggle {
		padding: initial;
		border: initial;
	}

}

// --------------------------------------------------------------
// Specific
// --------------------------------------------------------------

@import 'components/gutenberg-blocks';

.wp-block {
    max-width: 992px;
}

.editor-block-switcher {
	overflow: hidden;
}
.edit-post-visual-editor {
	background-color: $body-bg;
}

.editor-styles-wrapper {
color: $body-color !important;
font-family: $font-family-sans-serif !important;
}

.editor-post-title__block .editor-post-title__input {
    color:  $body-color;
    font-family: $font-family-sans-serif;
}

.wp-block-columns {
	> .editor-inner-blocks {
		display: flex;
		&, > .editor-block-list__layout {
			flex: 1 1 auto;
		}

	}
}

